<section class="comment-card">
  <div class="comment-card-body">
    <h5 id="comment-user">{{user.username}}</h5>
    <h5 id="comment-time">{{format_date date_created}}</h5>
    <p id="comment-content">{{content}}</p>
  </div>
</section>