
<section class="card post-card">
  <a href="/post/{{id}}">
    <div class="card-body">
      <h3 id="post-title">{{title}}</h3>
      <p id="post-date">{{format_date date_created}}</p>
    </div>

    <div class="card-body">
      <p id="content">{{content}}</p>
    </div>
  </a>
</section>

