{{!-- Will display Sports Name based on the id --}}
<div class ="sport-name">
  {{#each sportsName}}
    <h1>{{name}}</h1>
  {{/each}}
</div>
{{!-- Will display posts related to that sports --}}
<div class="posts">
    {{#each posts as |post|}}
    {{> sport-post-details}}
    {{/each}}
</div>
